@import url("../font/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$blockWidth: 85%;
$textColor: #dc3413;
$mainTextColor: #cc9966;
$backgroundColor: #281c13;
$buttonColor: #ed4e2e;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: $textColor;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../img/beans-coffee-kitchen-2742.jpg") repeat-y;
  background-size: 100% 100%;
}

.navigation,
main,
footer {
  width: $blockWidth;
  height: 100%;
}

main {
  .navigation-clearfix {
    width: 100%;
    height: 180px;
  }
}

.page-header {
  font-family: "28 Days Later";
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5% 0;
}

.btn {
  padding: 1% 2%;
  color: white;
  background-color: $buttonColor;
  text-transform: uppercase;
  border: none;
  outline: none;
  &:hover {
    background-color: darken($buttonColor, 30%);
  }
}

#about-cafe,
#coffee,
#menu,
#blog,
#contact {
  width: 100%;
  margin-top: 20px;
}

#main {
  width: 100%;
}

#about-cafe,
#coffee,
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.85);
}


/*NAVIGATION*/

.navigation {
  height: 180px; //3.5%;
  display: flex;
  position: fixed;
  .coffee-shop {
    height: 100%;
    width: 30%;
    position: relative;
    background-color: $textColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    img {
      width: 100%;
    }
  }
  .page-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 70%;
  }
  .menu-btn {
    display: none;
  }
}

.icon,
.link-icon {
  width: 50px;
  height: 50px;
}

.page-menu {
  h3 {
    font-family: "28 Days Later";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: $mainTextColor;
    &:hover {
      color: $textColor;
    }
  }
  .icon {
    background: url("../img/menu-sprite.png") no-repeat;
    margin-bottom: 10px;
  }
}

.about-cafe-menu,
.coffee-menu,
.menu-menu,
.blog-menu,
.contact-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px dotted $mainTextColor;
  padding: 0 5%;
}

.contact-menu {
  border-right: none;
}

.about-cafe-menu {
  .icon {
    background-position: -25px -10px;
  }
}

.coffee-menu {
  .icon {
    background-position: -125px -10px;
  }
}

.menu-menu {
  .icon {
    background-position: -225px -10px;
  }
}

.blog-menu {
  .icon {
    background-position: -325px -10px;
  }
}

.contact-menu {
  .icon {
    background-position: -425px -10px;
  }
}


/*MAIN*/

#main {
  height: 720px;
  background-image: url("../img/Your SLIDER image her.png");
  background-size: 100% 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  article {
    width: 33%;
    height: 25%;
    padding: 1%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.75);
    color: $mainTextColor;
    border-top: 4px solid $textColor;
  }
}


/*ABOUT CAFE*/

#about-cafe {
  padding: 10% 0;
  .line {
    width: 20%;
  }
}

.about-cafe-description {
  flex-basis: 30%;
  h1 {
    text-align: left;
  }
  p {
    font-size: 28px;
    font-style: italic;
    text-align: left;
    margin: 5% 0;
    padding: 0;
  }
  .link-icon {
    width: 50px;
    height: 50px;
    background: url("../img/links.png") no-repeat;
  }
  .fb,
  .twitter {
    display: inline-block;
  }
  .fb .link-icon {
    background-position: 0 0;
  }
  .twitter .link-icon {
    background-position: -50px 0;
  }
}


/*COFfEE*/

#coffee {
  padding: 10% 0;
  .coffee-content {
    display: flex;
    flex-basis: 80%;
  }
  .image {
    flex-basis: 45%;
    margin: 0 5% 0 0;
  }
  .info {
    align-self: flex-start;
    flex-basis: 60%;
  }
  img {
    width: 100%;
  }
}

.info {
  .btn {
    display: inline-block;
    margin-right: 5%;
  }
  p {
    color: white;
    margin: 0 0 5%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .buttons {
    margin: 0 0 5%;
  }
}

/*MENU*/
#menu {
  padding: 5%;
  flex-direction: column;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 900px) {
  $blockWidth: 100%;
  .navigation,
  main {
    width: $blockWidth;
  }
  #main {
    article {
      overflow: scroll;
    }
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    .coffee-shop,
    .page-menu {
      display: none;
    }
    .menu-btn {
      display: block;
      height: 30%;
      width: 100%;
      text-align: left;
      background-color: $backgroundColor;
      border: none;
      padding-left: 2%;
    }
  }
  main {
    margin-top: 50px;
  }
  #about-cafe {
    flex-direction: column;
    .about-cafe-description {
      width: 80%;
      margin-bottom: 5%;
    }
    h1 {
      text-align: center;
    }
  }
  .coffee-content {
    flex-direction: column;
    .buttons {
      margin-top: 5%;
    }
  }
}
